--find-links https://download.pytorch.org/whl/torch_stable.html
Flask==2.2.3
Flask_Mail==0.9.1
pymongo==4.3.3
python-dotenv==1.0.0
PyYAML==6.0
torch==1.9.0
transformers==3.0.2
google-cloud-translate==3.11.1